#header{
    width: 1000PX;
    height: 100px;
    background-color: white;
    margin:auto;
}

#header #logo{
    float: left;
    width: 500px;
    height: 100px;
}

#header #user{
    float: right;
    width: 500px;
    height: 100px;
    padding-top: 2cm;
    position:absolute;
    right:0px;
    /*background-color: blue;*/
}