#header{
    width: 1000PX;
    height: 100px;
    background-color: white;
}

#header #logo{
    float: left;
    width: 500px;
    height: 100px;
    /*background: red;*/
}

#header #user{
    float: right;
    width: 500px;
    height: 100px;
    /*background: blue;*/
}