#home{
    width: 1000PX;
    height: 200px;
    background-color: deepskyblue;
    margin:auto;
}

#home #change{
    float: right;
    width: 550PX;
    height: 25px;
    position:absolute;
    right:410px;
    padding-top: 156px;
}
#home #change ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
#home #change li{
    float:left;
}
a.dh:link,a.dh:visited
{
    display:block;
    width:120px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#bebebe;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}
a.dh:hover,a.dh:active
{
    background-color: #0000FF;
}