#home{
    width: 1000PX;
    height: 130px;
    background-color: deepskyblue;
    margin:auto;
    position:relative;
    padding-top:4px;
}

#home h1{
    color: white;
    width: 500px;
    padding-left: 75px;
    padding-top: 25px;
    /*background-color: #FF0000;*/
}

#home #change{
    float: right;
    width: 550PX;
    height: 25px;
    position:absolute;
    right:234px;
    bottom:1px;
    /*background-color: chartreuse;*/
}
#home #change ul{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
}
#home #change li{
    float:left;
}

#home #find{
    float: right;
    width: 240PX;
    height: 25px;
    position:absolute;
    right:0px;
    bottom:1px;
    /*background-color: green;*/
}
a.dh:link,a.dh:visited
{
    display:block;
    width:120px;
    font-weight:bold;
    color:#FFFFFF;
    background-color:#bebebe;
    text-align:center;
    padding:4px;
    text-decoration:none;
    text-transform:uppercase;
}
a.dh:hover,a.dh:active
{
    background-color: #0000FF;
}