#main{
    width: 1000PX;
    height: 2200px;
    padding-top: 7px;
    background-color: white;
    box-shadow: -8px 0px 8px #aaaaaa;
    padding-bottom: 7px;
    margin:auto;
    position:relative;
}

#main #picture{
    width: 900px;
    height: 285px;
    position:absolute;
    background-color: #f2f3f7;
    left: 50px;
    top: 625px;
    box-shadow: 6px 6px 8px #aaaaaa;
}
#slidershow{
    width: 450PX;
    height: 250px;
    float: left;
    margin: 15px;

}

#motto{
    width: 380PX;
    height: 253px;
    float: right;
    margin: 15px;
    font-family: 宋体;
}
#motto h2{
    text-align:center;
}

.motto{
    font-size: 18px;
    margin: 15px;
}

#main #body{
    width: 850px;
    height: 1180px;
    position:absolute;
    top: 965px;
    left: 75px;
    background-color: #f2f3f7;
    border: 2px solid  #84b5cf;
    box-shadow: 6px 6px 8px #aaaaaa;
    word-wrap: break-word;
    word-break: normal;
}
#main #body #article-title{
    margin: 20px 50px 10px 50px;
}

#main #body #article-title p{
    margin: 5px 0px 5px 0px;
    font-size: large;
    font-weight: bold;
}

#main #body #article-title .bottom{
    color: #666666;
}

.article{
    font-size: x-large;
}

#findArticle{
    margin: 20px 50px 10px 50px;
}