#main{
    width: 1000PX;
    height: 1330px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin:auto;
    position:relative;
}

#main #left{
    border: deepskyblue solid 3px;
    width: 200px;
    height: 600px;
    float: left;
    background-color: #D8DFEA;
}

#main #right{
    border: deepskyblue solid 3px;
    width: 780px;
    height: auto;
    float: right;
    background-color: #D8DFEA;
}

#main #Article{
    width: 780PX;
    border: deepskyblue solid 3px;
    padding-top: 7px;
    padding-bottom: 7px;
    float: right;
    margin:auto;
    background-color: #D8DFEA;
}

#main #Discuss{
    width: 780px;
    float: right;
    margin:auto;
    padding-top: 7px;
    padding-bottom: 7px;

}

#main #Discuss #viewDiscuss{
    width: 765PX;
    border: deepskyblue solid 3px;
    padding-top: 10px;
    padding-left: 15px;
    float: right;
    margin:auto;
    background-color: #D8DFEA;

}

.head{
    width: 36px;
    background-color: #999999;
    border: #999999 solid 3px;
}

#main #footer{
    width: 1000PX;
    height: 40px;
    background-color: white;
    text-align:center;
    margin:auto;
    position: absolute;
    bottom: 0px;
}

#main #left #portrait{
    margin:auto;
    padding-top: 7px;
    padding-bottom: 14px;
    padding-left: 9px;

}
#main #left #category{
    padding-left: 9px;
}

#main #left #portrait img{
    height:240px;
    width:180px;
    border: #999999 solid 1px;
    margin:auto;
}

div.bottom{
    padding-left: 14px;
    color: cornflowerblue;
    font-size: 14px;
}

p.describe{
    padding-left: 14px;
    padding-right: 14px;
    font-size: 15px;
}

a.article:link, a.article:visited, a.article:active{
    display:block;
    font-weight:bold;
    width:240px;
    font-size:17px;
    font-family: sans-serif;
    padding:4px;
    color: blue;
    text-decoration:none;
}
a.article:hover{
    display:block;
    font-weight:bold;
    font-size:17px;
    font-family: sans-serif;
    color:#FFFFFF;
    background-color:blue;
    width:240px;
    padding:4px;
    text-decoration:none;
}