#main{
    width: 1000PX;
    height: 600px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin:auto;
}

#main #left{
    border: deepskyblue solid 3px;
    width: 200px;
    height: 600px;
    float: left;
    background-color: white;
}

#main #right{
    border: deepskyblue solid 3px;
    width: 780px;
    height: 600px;
    float: right;
    background-color: white;
}

#main #left #portrait{
    margin:auto;
    padding-top: 7px;
    padding-bottom: 14px;
    padding-left: 9px;

}
#main #left #category{
    padding-left: 9px;
}

#main #left #portrait img{
    height:240px;
    width:180px;
    border: #999999 solid 1px;
    margin:auto;
}

a.article:link, a.article:visited, a.article:active{
    display:block;
    font-weight:bold;
    width:240px;
    font-size:17px;
    font-family: sans-serif;
    padding:4px;
    color: blue;
    text-decoration:none;
}
a.article:hover{
    display:block;
    font-weight:bold;
    font-size:17px;
    font-family: sans-serif;
    color:#FFFFFF;
    background-color:blue;
    width:240px;
    padding:4px;
    text-decoration:none;
}