/* Custom Styles */
ul.nav-tabs{
    width: 50px;
    margin-top: 100px;
    border: 1px solid #ddd;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.067);
}
ul.nav-tabs li{
    margin: 0;
    border-top: 1px solid #ddd;
}
ul.nav-tabs li:first-child{
    border-top: none;
}
ul.nav-tabs li a{
    margin: 0;
    padding: 8px 16px;
}
ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
    color: #fff;
    background: #0088cc;
    border: 1px solid #0088cc;
}

ul.nav-tabs.affix{
    bottom: 200px;
    right: 20px;
}
