<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.dao.DiscussDao">
    <!--<select id="findDiscussUser" resultType="com.blog.model.DiscussCustom">-->
        <!--SELECT discuss.*, user.username FROM discuss,user WHERE discuss.userId=user.uid-->
    <!--</select>-->

    <insert id="insertDiscuss" parameterType="com.blog.model.Discuss">
        INSERT INTO discuss(did, createTime, message, userId, articleId, ownId, parentId) VALUES (#{did},#{createTime},#{message},#{userId},#{articleId},#{ownId},#{parentId})
    </insert>

    <delete id="deleteDiscussById" parameterType="int">
        DELETE FROM discuss WHERE did=#{did}
    </delete>
</mapper>